* {
    font-family: 'Poppins', sans-serif;
}

.movie_card {
    padding: 0 !important;
    width: 22rem;
    margin: 14px;
    border-radius: 10px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}

.movie_card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 33rem;
}

.card-title {
    width: 80%;
    height: 4rem;
}

.details_button {
    text-align: center;
    background-color: #ff3d49;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    right: 20px;
    bottom: 111px;
    font-size: 27px;
    padding-left: 0.5%;
    padding-top: 2.5%;
    color: #FFFFFF;
    cursor: pointer;
}

.movie_info {
    text-align: justify;
}